// Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

// Font Face
@font-face {
  font-family: "PixelMplus-r";
  src: url("../assets/fonts/PixelMplus12-Regular.ttf");
}

@font-face {
  font-family: "PixelMplus-b";
  src: url("../assets/fonts/PixelMplus12-Bold.ttf");
}

// Variables
$pixel-r: 'PixelMplus-r', sans-serif;
$pixel-b: 'PixelMplus-b', sans-serif;
$anton:  'Anton', sans-serif;

// Color Variables
$colors: (
        normal: #A8A77A,
        fire: #EE8130,
        water: #6390F0,
        electric: #F7D02C,
        grass: #7AC74C,
        ice: #96D9D6,
        fighting: #C22E28,
        poison: #A33EA1,
        ground: #E2BF65,
        flying: #A98FF3,
        psychic: #F95587,
        bug: #A6B91A,
        rock: #B6A136,
        ghost: #735797,
        dragon: #6F35FC,
        dark: #705746,
        steel: #B7B7CE,
        fairy: #D685AD,
        unknown: #AAA
);

// Styling
.full-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background: rgba(100, 100, 100, 0.5);
  display: none;
  z-index: 999;
  .loader {
    color: #ffffff;
    font-size: 90px;
    text-indent: -9999em;
    overflow: hidden;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    margin: 72px auto;
    position: relative;
    -webkit-animation: load6 1.7s infinite ease, round 1.7s infinite ease;
    animation: load6 1.7s infinite ease, round 1.7s infinite ease;
  }
  @-webkit-keyframes load6 {
    0% {
      box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    5%,
    95% {
      box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    10%,
    59% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
    }
    20% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
    }
    38% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
    }
    100% {
      box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
  }
  @keyframes load6 {
    0% {
      box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    5%,
    95% {
      box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    10%,
    59% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
    }
    20% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
    }
    38% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
    }
    100% {
      box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
  }
  @-webkit-keyframes round {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes round {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }

}

.page-title {
  font-family: $pixel-b;
}

#app {
  font-family: $pixel-r;
  .pokemon-id {
    font-family: $anton;
  }
  .pokemon-name {
    font-family: $pixel-b;
  }
}

// カード背景色設定
/*ノーマルタイプ*/
.bg-normal {
  background-color: map-get($colors, normal);
}

/*ほのおタイプ*/
.bg-fire {
  background-color: map-get($colors, fire);
}

/*みずタイプ*/
.bg-water {
  background-color: map-get($colors, water);
}

/*でんきタイプ*/
.bg-electric {
  background-color: map-get($colors, electric);
}

/*くさタイプ*/
.bg-grass {
  background-color: map-get($colors, grass);
}

/*こおりタイプ*/
.bg-ice {
  background-color: map-get($colors, ice);
}

/*かくとうタイプ*/
.bg-fighting {
  background-color: map-get($colors, fighting);
}

/*どくタイプ*/
.bg-poison {
  background-color: map-get($colors, poison);
}

/*じめんタイプ*/
.bg-ground {
  background-color: map-get($colors, ground);
}

/*ひこうタイプ*/
.bg-flying {
  background-color: map-get($colors, flying);
}

/*エスパータイプ*/
.bg-psychic {
  background-color: map-get($colors, psychic);
}

/*むしタイプ*/
.bg-bug {
  background-color: map-get($colors, bug);
}

/*いわタイプ*/
.bg-rock {
  background-color: map-get($colors, rock);
}

/*ゴーストタイプ、シャドウポケモン*/
.bg-ghost, .bg-shadow {
  background-color: map-get($colors, ghost);
}

/* ドラゴンタイプ */
.bg-dragon {
  background-color: map-get($colors, dragon);
}

/* あくタイプ */
.bg-dark {
  background-color: map-get($colors, dark);
}

/* はがねタイプ */
.bg-steel {
  background-color: map-get($colors, steel);
}

/*フェアリータイプ*/
.bg-fairy {
  background-color: map-get($colors, fairy);
}

/*タイプなし*/
.bg-unknown {
  background-color: map-get($colors, unknown);
}
